.nav-wrapper a, ul{
	color:black;
}

.nac-wrapper li:hover{
	background: rgba(5,5,5,.6) !important;
}

#dropdown1{
	margin-top: 400%;
	margin-left: 90%;

}
#dropdown1 a{
	color:black;
}

.slider{
	margin-top: .5%;
	height: 550px !important;
}
.slides{
	height: 500px !important;
}